extends ../layouts/default






mixin displayDispo(eventid,competenceid,lockEdit)
	td( style="border-top:2px solid black;padding-top:10px;text-align:center;vertical-align:top")
		- var value = 'C';
		- var found = 'CREATE'
		- var registered = false;
		- var remplacements = [];
		
		each reg in data.registrations
			if  reg.competence._id.toString() === competenceid.toString() && reg.eventDate._id.toString() === eventid.toString() 
				- remplacements = reg.remplacements;
				- value = reg.availability.toString();
				- found = 'UPDATE'
				- registered = reg.registered;
				

		if lockEdit
			if value == 'C'
				div(style='text-align:center') -
			if value == 'D'
				div.vert Disponible
			if value == 'SN'
				div.orange Si nécessaire
			if value == 'ND'
				div.rouge Non disponible
			if registered
				span(class="glyphicon glyphicon-info-sign")
				span  Vous êtes Sélectionné pour cette date. Voici la liste des autres personnes disponibles pour cette date que vous pouvez contacter si vous cherchez un remplaçant :
				ul 
				each remplacement in remplacements
					li #{remplacement.person.name.first} #{remplacement.person.name.last}

		else
			- var v_select_style='';
			if competenceid === 'all'
				- v_select_style = 'border:3px solid red;'
			select( style='#{v_select_style}' id=found+'-'+eventid+'-'+competenceid name=found+'-'+eventid+'-'+competenceid onchange='changeDispo(\''+found+'-'+eventid+'-'+competenceid+'\')')
				if value == 'C'
					option.blanc(value='C',selected) Choix...
				else
					option.blanc(value='C') Choix...
				if value == 'D'
					option.vert(value='D',selected) Disponible
				else
					option.vert(value='D') Disponible
				if value == 'SN'
					option.orange(value='SN',selected) Si nécessaire
				else
					option.orange(value='SN') Si nécessaire
				if value == 'ND'
					option.rouge(value='ND',selected) Non-disponible
				else
					option.rouge(value='ND') Non-disponible
			script(type='text/javascript').
				setColor('#{found}-#{eventid}-#{competenceid}');

mixin displayLine(event)
	- var now = new Date();
	- var nowplus = new Date();
	- nowplus.setDate(now.getDate()+data.nbdayslock);
	- var lockEdit = false;
	if nowplus > event.eventDate || event.mailSent
		- lockEdit = true;
	- var v_color = 'white';
	if ( i % 2 ) == 0
		- v_color = '#E8E8E8';
	- i++;
	tr( style="border-top:2px solid black;padding-top:10px;background-color:#{v_color};")
		td(style="max-width:150px;padding:5px")
			b #{event.title} 
			div
				span(class="glyphicon glyphicon-calendar")
				span  #{jolieDate(event.eventDate)}
				
				if nowplus > event.eventDate || event.mailSent
					div(class="alert alert-warning" style="margin:3px" id='date_locked_#{event._id}')
						p Modification non-autorisée, la date de l'évènement étant à moins de #{data.nbdayslock} jours ou la sélection de l'équipe a déjà été effectuée.
							a(onClick="closeMe('date_locked_#{event._id}')" href="javascript:void(0)")
								span(class="glyphicon glyphicon-remove")

			p: i #{event.description}
		each competence in data.competences
			+displayDispo(event._id,competence._id,lockEdit)
		if data.competences.length > data.nbCompetencesEnableGlobal
			+displayDispo(event._id,'all',lockEdit)



block intro
	.container
		h1 Mes disponibilités

block content
	.container: .row
				if user
					if data.events
						form(method='post')
							.row
								.col-sm-10.col-md-10
								.col-sm-2.col-md-2(style='text-align:right')
									button(type='submit').btn.btn-primary Sauvegarder
							br
							br
							div(class="alert alert-warning" role="alert" id='pagemodified' hidden='true')
							table(width='100%')
								tr 
									td
									each competence in data.competences
										td(style='text-align:center')
											b #{competence.name}
											script(type='text/javascript').
												setCompetence('#{competence._id}');
									if data.competences.length > data.nbCompetencesEnableGlobal
										td(style='text-align:center;max-width:80px'): b Forcer pour la ligne entière
								- var i = 0;
								each event in data.events
									+displayLine(event)
							br
							div(class="alert alert-warning" role="alert" id='pagemodified2' hidden='true')
							.row
								.col-sm-10.col-md-10
								.col-sm-2.col-md-2(style='text-align:right')
									button(type='submit').btn.btn-primary Sauvegarder
					else
						h3.text-muted Il n'y a pas d'evenements planifiés
				else
					.col-sm-12.col-md-12
						div(class="alert alert-warning" role="alert")
							h3.text-muted Vous n'êtes pas connecté : 
								a(href='/keystone/signin') Se connecter